{% block form_errors %}
    {% for error in errors %}
        <p class="help is-danger">{{ error.message }}</p>
    {% endfor %}
{% endblock form_errors %}

{% block text_widget %}
    {% if submitted %}
        {% if errors|length > 0%}
            {% set controlClass='has-icons-right' %}
            {% set inputClass='is-danger' %}
            {% set spanClass='has-text-danger' %}
            {% set iClass='fa-warning' %}
        {% else %}
            {% set controlClass='has-icons-right' %}
            {% set inputClass='is-success' %}
            {% set spanClass='has-text-success' %}
            {% set iClass='fa-check' %}
        {% endif %}
    {% endif %}   

    <div class="control {{ controlClass }}">
        <input type='text' {{ block('widget_attributes') }} class='input {{ inputClass }}' {% if value is not empty %}value="{{ value }}" {% endif %}>
        {% if submitted %}
        <span class="icon is-small is-right {{ spanClass }}">
            <i class="fa {{ iClass }}"></i>
        </span>
        {% endif %}
    </div>
{% endblock text_widget %}

{% block textarea_widget %}
    {% if submitted %}
        {% if errors|length > 0%}
            {% set controlClass='has-icons-right' %}
            {% set textareaClass='is-danger' %}
            {% set spanClass='has-text-danger' %}
            {% set iClass='fa-warning' %}
        {% else %}
            {% set controlClass='has-icons-right' %}
            {% set textareaClass='is-success' %}
            {% set spanClass='has-text-success' %}
            {% set iClass='fa-check' %}
        {% endif %}
    {% endif %}   

    <div class="control {{ controlClass }}">
        <textarea type='textarea' {{ block('widget_attributes') }} class='textarea {{ textareaClass }}' {% if value is not empty %}value="{{ value }}" {% endif %}></textarea>
        {% if submitted %}
        <span class="icon is-small is-right {{ spanClass }}">
            <i class="fa {{ iClass }}"></i>
        </span>
        {% endif %}
    </div>
{% endblock textarea_widget %}